#myPicture{
    width: 150%;
    heigth: 150%;
    float: left;
    margin-right: 5em;
    margin-top: 1em;
}

.logos {
    margin-top: 5em;
    width: 50%;
    height: 50%;
}

@media (max-width: 600px) {

    #myPicture{
        width: 100%;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .logos{
        float: left;
    }
}