<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alejandro Laneri</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<h2>Image Gallery</h2>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/dji_export_1642352880784.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/dji_export_1642352880784.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>


<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/dji_export_1642352880190.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/dji_export_1642352880190.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20211017112133.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20211017112133.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20211017113401.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20211017113401.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20220107113435.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20220107113435.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20220107113438.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20220107113438.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20220108105505.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20220108105505.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20211017111039.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20211017111039.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20211011142847.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20211011142847.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20211011142845.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/resources/IMG20211011142845.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/IMG20220116153714.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/IMG20220116153714.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/dji_export_1642352880613.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/dji_export_1642352880613.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/dji_export_1642352880220.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/dji_export_1642352880220.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/IMG20220116160051.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/IMG20220116160051.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/IMG20220115152558.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/IMG20220115152558.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/dji_export_1642352879820.jpg">
            <img src="http://alejandro-laneri.internet-box.ch/website_folder/pictures/new_resources/dji_export_1642352879820.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
</body>
</html>